/* .cheader {
  height: 43px;
  width: 72.97px;
  color: #0275d8;
  font-family: "Bebas Neue";
  font-size: 35px;
  letter-spacing: 0;
  line-height: 43px;
  text-align: center;
  position: relative;
  top: -20px;
} */

.csearch {
  position: relative;
  left: 460px;
  top: -20px;
}

.clsetter {
  position: relative;
  left: 466px;
  top: -20px;
}

.crestaurantDateTimeButton {
  position: absolute;
  left: 1330px;
  top: 3px;
}

.csemiBg {
  width: 1900px;
  height: 133px;
}

.crestaurantsInfo {
  height: 17px;
  width: 78px;
  color: #3f3f40;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 17px;
  position: relative;
  top: -20px;
  left: 470px;
}

.crestaurantLocators {
  position: relative;
  top: -80px;
  left: -342px;
  height: 44px;
  width: 2200px;
  background-color: #c5cae238;
}

.crestaurantLocatorInfo {
  height: 17px;
  width: 961px;
  color: #6f6f6f;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  position: relative;
  left: 810px;
  top: 14px;
  word-spacing: 3px;
}
