.menuHalfBgImage {
  height: 267px;
  width: 100%;
  position: relative;
  top: -89px;
}
.menuSemiContainer {
  width: 100%;
  overflow: hidden;
}
.semiBgComponentSeperator {
  width: 961px;
  margin-left: auto;
  margin-right: auto;
}

.menuLocators {
  position: relative;
  top: -92px;
  height: 44px;
  width: 100%;
  background-color: #c5cae238;
}
.menuLocatorsInfo {
  height: 17px;
  width: 961px;
  color: #6f6f6f;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  word-spacing: 3px;
  position: relative;
  top: 10px;
}
.menuKebabImage {
  height: 336px;
  width: 960px;
  position: relative;
  top: -300px;
  left: 00px;
  z-index: 1;
}
.spoonPoke {
  height: 90px;
  width: 90px;
  position: relative;
  top: -610px;
  left: 40px;
  z-index: 1;
}
.restaurantDetails {
  height: 203px;
  width: 800px;
  position: relative;
  top: -690px;
  left: 150px;
  z-index: 1;
}
.menuRestaurantName {
  height: 36px;
  width: 380px;
  color: #1c1c1c;
  font-family: 'Open Sans';
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
}
.menuItemName {
  height: 19px;
  width: 156px;
  color: #757575;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  top: 7px;
  left: 5px;
}
.greenRect {
  position: relative;
  top: 20px;
  left: 3px;
  height: 23px;
  width: 42px;
}
.menuRestaurantRating {
  height: 20px;
  width: 22px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  left: -30px;
  top: 13px;
}
.menuRestDetails {
  position: relative;
  top: 10px;
  left: 14px;
}
.menuDot {
  height: 4px;
  width: 4px;
  background-color: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 10px;
  left: -10px;
}
.menuTimming {
  height: 17px;
  width: 45px;
  color: #757575;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: 12px;
  left: -5px;
}
.menuDot1 {
  height: 4px;
  width: 4px;
  background-color: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 5px;
}
.menuMinOrder {
  height: 17px;
  width: 96px;
  color: #757575;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: 12px;
  left: 10px;
}
.timming {
  height: 10px;
  width: 10px;
  position: relative;
  top: 13px;
  left: 20px;
}
.timmingaText {
  height: 17px;
  width: 116px;
  color: #7c7c7c;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  position: relative;
  top: 12px;
  left: 25px;
}
.deliveryRatings {
  height: 17px;
  width: 174px;
  color: #6a6a6a;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: 30px;
  left: 5px;
}
.menuLine {
  box-sizing: border-box;
  height: 3px;
  width: 297px;
  border: 1px solid #ededed;
  position: relative;
  top: 45px;
  left: 5px;
}
.menuRatingStars {
  width: 305px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 60px;
}
.menuStarBox1 {
  box-sizing: border-box;
  height: 26px;
  width: 46px;
  border: 1px solid #5fb700;
  border-radius: 4px;
}
.menuStarBox2 {
  box-sizing: border-box;
  height: 26px;
  width: 46px;
  border: 1px solid #5fb700;
  border-radius: 4px;
}
.menuStarBox3 {
  box-sizing: border-box;
  height: 26px;
  width: 46px;
  border: 1px solid #f5a623;
  border-radius: 4px;
}
.menuStarBox4 {
  box-sizing: border-box;
  height: 26px;
  width: 46px;
  border: 1px solid #5fb700;
  border-radius: 4px;
}
.menuStarBox5 {
  box-sizing: border-box;
  height: 26px;
  width: 46px;
  border: 1px solid #ed1b2e;
  border-radius: 4px;
}
.menuStar {
  height: 12.91px;
  width: 12.91px;
  position: relative;
  top: 3.5px;
  left: 8px;
}
.menuRating1 {
  height: 17px;
  width: 10.04px;
  color: #5fb700;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -14px;
  left: 27px;
}
.menuRating2 {
  height: 17px;
  width: 10.04px;
  color: #f5a623;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -14px;
  left: 27px;
}
.menuRating3 {
  height: 17px;
  width: 10.04px;
  color: #ed1b2e;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -14px;
  left: 27px;
}

.menuKebab {
  height: 336px;
  width: 972px;
  position: relative;
  left: -10px;
  top: -300px;
}
.navBar {
  height: 34px;
  width: 490px;
  position: relative;
  top: -870px;
  left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}
.menu {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  padding-bottom: 11px;
  border-bottom: 4px solid rgb(248, 125, 24);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.overview {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  padding-bottom: 11px;
  border-bottom: 4px solid rgb(248, 125, 24);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.reviews {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  padding-bottom: 11px;
  border-bottom: 4px solid rgb(248, 125, 24);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
.gallery {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  padding-bottom: 11px;
  border-bottom: 4px solid rgb(248, 125, 24);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}
.notMenu {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  cursor: pointer;
}
.notOverview {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  cursor: pointer;
}
.notReview {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  cursor: pointer;
}
.notGallery {
  height: 19px;
  width: auto;
  color: #1f1f1f;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  cursor: pointer;
}

/*Responsive*/
@media all and (max-width: 1040px) {
  .menuLocatorsInfo {
    height: 17px;
    width: 400px;
    color: #6f6f6f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    word-spacing: 3px;
    position: relative;
    top: 10px;
    left: -85px;
  }
  .semiBgComponentSeperator {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -250px;
  }
  .menuKebabImage {
    height: 336px;
    width: 630px;
    position: relative;
    top: -300px;
    left: 140px;
    z-index: 1;
    opacity: 1;
  }
  .spoonPoke {
    height: 90px;
    width: 90px;
    position: relative;
    top: -630px;
    left: 170px;
    z-index: 1;
  }
  .restaurantDetails {
    height: 203px;
    width: 500px;
    position: relative;
    top: -720px;
    left: 280px;
    z-index: 1;
  }
  .navBar {
    height: 34px;
    width: 400px;
    position: relative;
    top: -870px;
    left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
  }
}
@media all and (max-width: 720px) {
  .menuLocators {
    width: 100%;
    overflow: hidden;
  }
  .menuLocatorsInfo {
    height: 17px;
    width: 340px;
    color: #6f6f6f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    word-spacing: 3px;
    position: relative;
    top: 10px;
    left: -60px;
  }
  .menuKebabImage {
    height: 280px;
    width: 460px;
    position: relative;
    top: -300px;
    left: 210px;
    z-index: 1;
    opacity: 1;
  }
  .spoonPoke {
    height: 90px;
    width: 90px;
    position: relative;
    top: -570px;
    left: 220px;
    z-index: 1;
  }
  .restaurantDetails {
    height: 203px;
    width: 500px;
    position: relative;
    top: -670px;
    left: 320px;
    z-index: 1;
  }
  .navBar {
    height: 34px;
    width: 400px;
    position: relative;
    top: -870px;
    left: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
  }
}
@media all and (max-width: 550px) {
  .menuHeader {
    position: relative;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .menuLocators {
    position: relative;
    height: 44px;
    width: 100%;
    background-color: #c5cae238;
  }
  .menuLocatorsInfo {
    width: 400px;
    position: relative;
    left: 10px;
  }
  .menuDateAndTimeButton {
    margin-left: 30%;
    margin-top: 0%;
    height: 40px;
    width: 40px;
  }
  .semiBgComponentSeperator {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17vh;
    left: -110px;
  }
  .menuKebabImage {
    height: 200px;
    width: 360px;
    position: relative;
    top: -390px;
    left: 100px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.5;
  }
  .menuHalfBgImage {
    height: 180px;
    width: 100%;
    position: relative;
    top: -89px;
  }
  .spoonPoke {
    height: 50px;
    width: 50px;
    position: relative;
    top: -66vh;
    left: 110px;
  }
  .restaurantDetails {
    height: 203px;
    width: 300px;
    position: relative;
    top: -600px;
    left: 150px;
    z-index: 1;
  }
  .menuRestaurantName {
    height: 36px;
    width: fit-content;
    color: #1c1c1c;
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 36px;
    position: relative;
    top: -40px;
    left: 20px;
  }
  .menuItemName {
    height: 19px;
    width: 156px;
    color: #757575;
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: relative;
    top: -30px;
    left: 25px;
  }
  .greenRect {
    position: relative;
    top: -48px;
    left: 180px;
    height: 23px;
    width: 42px;
  }
  .menuRestaurantRating {
    height: 20px;
    width: 22px;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    top: -55px;
    left: 150px;
  }
  .menuRestDetails {
    position: relative;
    top: -50px;
    left: -30px;
  }
  .deliveryRatings {
    height: 17px;
    width: 174px;
    color: #6a6a6a;
    font-family: 'Open Sans';
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    position: relative;
    top: -30px;
    left: -35px;
  }
  .menuLine {
    box-sizing: border-box;
    height: 3px;
    width: 297px;
    border: 1px solid #ededed;
    position: relative;
    top: -20px;
    left: -35px;
  }
  .menuRatingStars {
    width: 305px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 00px;
    left: -36px;
  }
  .navBar {
    height: 34px;
    width: 350px;
    position: relative;
    top: -105vh;
    left: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1;
  }
}
@media all and (max-width: 420px) {
  .menuLocatorsInfo {
    width: 350px;
    position: relative;
    left: 0px;
  }
  .menuKebabImage {
    height: 200px;
    width: 360px;
    position: relative;
    top: -390px;
    left: 110px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.5;
  }
  .restaurantDetails {
    position: relative;
    left: 160px;
  }
  .navBar {
    position: relative;
    left: 115px;
  }
}
