.appstore {
  height: 55px;
  width: 195px;
  position: absolute;
  top: 110px;
  left: 1031px;
  margin: 0px;
}

.playstore {
  height: 55px;
  width: 195px;
  position: absolute;
  top: 110px;
  left: 1246px;
  margin: 0px;
}

.semibgcontent {
  height: 64px;
  width: 501px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 102px;
  left: 478px;
  margin: 0px;
}

.fsemiBg {
  position: absolute;
  top: 70px;
  width: 1900px;
  height: 133px;
}

/* .pageheader {
  position: absolute;
  top: 250px;
} */
