.firstmain {
  /* height: 593px; */
  width: 634px;
  /* background-color: blue; */
  position: absolute;
  top: 134px;
  left: 479px;
}
.desbg {
  position: absolute;
  width: 1895px;
  top: 238px;
  background-color: #dee6ed;
  height: 1200px;
}

.restaurentname {
  height: 30px;
  width: 350px;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  left: 150px;
  top: 230px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.edtime {
  height: 17px;
  width: 205px;
  color: #6f6e6e;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: 240px;
  left: 150px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.discriptioncontainer {
  height: 918px;
  width: 634px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 181px;
  left: 477px;
}

.orderdisplay_rectangle {
  /* height: 1000px; */
  /* height: 519px; */
  /* height: 100%; */
  height: fit-content;
  width: 634px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  /* left: 0px; */
  left: 150px;
  top: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.orderitems {
  height: 100px;
  width: 614px;

  position: relative;
  top: 20px;
  left: 20px;
  margin-top: 25px;
  /* padding-top: 20px; */
  /* padding-left: 20px; */
}

.symbol {
  height: 14px;
  width: 14px;
  position: relative;
  top: -19px;
  left: 0px;
}

/* .dBbgbody {
  background-color: #dee6ed;
  position: absolute;
  top: 515px;
  height: 1500px;
  width: 1900px;
} */
.itemname {
  height: 27px;
  width: 232px;
  color: #2d2d2d;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
  left: 21px;
  top: 0px;
  margin: 0px;
}

.icost {
  height: 27px;
  width: 54px;
  color: #2d2d2d;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 23px;
  margin-top: 0px;
}

.addons {
  height: 15px;
  width: 348px;
  color: #9b9b9b;
  font-family: 'Open Sans';
  font-size: 11px;
  letter-spacing: 0;
  line-height: 15px;
  position: relative;
  top: 14px;
  /* bottom: 37px; */
  margin: 0px;
}

.incdeccount {
  box-sizing: border-box;
  height: 30px;
  width: 87px;
  border: 1px solid #cecfd4;
  border-radius: 15px;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  right: 20px;
}
.decbutton {
  height: 2px;
  width: 15px;
  position: relative;

  left: 6px;
  top: 0px;
  cursor: pointer;
}

.number {
  height: 27px;
  width: 30px;
  color: #f67e03;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  position: relative;
  left: 24px;
}

.incbutton {
  height: 10px;
  width: 2px;
  transform: rotate(-90deg);
  color: #f67e03;
  position: absolute;
  left: 64px;
  top: 12px;
  cursor: pointer;
}

.itemtotalcost {
  height: 27px;
  width: 55px;
  color: #2d2d2d;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  position: absolute;
  top: 32px;
  left: 538px;
}
.orderDetailsTotalCost {
  height: 27px;
  width: 55px;
  color: #2d2d2d;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
  position: absolute;
  top: 32px;
  left: 338px;
}
.remove {
  height: 15px;
  width: 43px;
  color: #ed1b2e;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
  text-align: right;
  position: relative;
  top: 25px;
  left: 550px;
  cursor: pointer;
}
.greyline {
  box-sizing: border-box;
  height: 2px;
  width: 589px;
  border: 1px solid #ededed;
  position: relative;
  /* top: 30px; */
  top: 40px;
  left: 0px;
  /* top: 20px; */
  /* background-color: black;
  color: #ed1b2e; */
}
.backbutton {
  box-sizing: border-box;
  height: 45px;
  width: 130px;
  border: 1px solid #979797;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  position: relative;
  top: 62px;
  /* bottom: 20px; */
  left: 266px;
}

.back {
  height: 19px;
  width: 40.69px;
  color: #979797;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  left: 42.66px;
  top: 13px;
  cursor: pointer;
  margin: 0px;
}
.choseaddbtn {
  height: 45px;
  width: 198px;
  border-radius: 6px;
  background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
  box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  position: relative;
  left: 416px;
  /* bottom: 20px; */
  top: 2px;
  margin: 0px;
}
.chooseadd {
  height: 19px;
  width: 131px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  position: relative;
  left: 34px;
  top: 12px;
  cursor: pointer;
}

.cookinginsdiv {
  height: 67px;
  width: 590px;

  position: relative;
  left: 18px;
  /* bottom: 87px; */
  top: 45px;
}

.cookinginstext {
  height: 17px;
  width: 122.95px;
  color: #858585;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: 17px;
  position: absolute;
  top: 0px;
  margin: 0px;
}
.mention {
  height: 22px;
  width: 580px;
  color: #4a4a4a;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: -0.27px;
  line-height: 22px;
  /* position: relative;
  top: 15px;
  left: 4px; */
  position: absolute;
  top: 28px;
  border: none;
  padding: none;
  outline: none;
}

.mention input[type='text'],
input[type='text']:focus {
  overflow-wrap: break-word;
}
::-webkit-input-placeholder {
  height: 22px;
  width: 131.5px;
  color: #4a4a4a;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: -0.27px;
  line-height: 22px;
}

.mentiongreyline {
  box-sizing: border-box;
  height: 2px;
  width: 590px;
  border: 1px solid #a4a4a4;
  opacity: 0.53;
  position: relative;
  top: 66px;
  left: 0px;
  /* position: absolute;
  top: 66px; */
}

/* .cfinalgreyline {
  box-sizing: border-box;
  height: 3px;
  width: 631px;
  border: 1px solid #ededed;
  position: relative;
} */

.emptyimgcart {
  position: absolute;
  top: 400px;
  left: 800px;
  justify-content: center;
}

.emptytext {
  height: 27px;
  width: 250px;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 27px;
  position: absolute;
  left: 50px;
  margin-left: auto;
  margin-right: auto;
}

.dispitemsdiv {
  width: 634px;
  background-color: white;
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
}
.footerDivCart {
  position: relative;
  align-items: center;
  top: 1120px;
  margin-right: auto;
  margin-left: auto;
}

.cartActive {
  position: absolute;
  top: 280px;
  left: 625px;
  margin: 0px;
  padding: 0px;
}
.progresscart {
  height: 17px;
  width: 24px;
  color: #6f6e6e;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 320px;
  left: 628px;
  margin: 0px;
  padding: 0px;
}
.cartpartialactiveline {
  height: 3px;
  width: 267px;
  position: absolute;
  top: 295px;
  left: 653px;
  margin: 0px;
}

.Cdeactive2 {
  position: absolute;
  top: 280px;
  left: 919px;
  margin: 0px;
  padding: 0px;
}
.cartadresstext {
  height: 17px;
  width: 87px;
  color: #6f6e6e;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 318px;
  left: 898px;
  margin: 0px;
  padding: 0px;
}
.cartdeactiveline {
  box-sizing: border-box;
  height: 1px;
  width: 267px;
  border: 2px solid #c9c6c6;
  /* height: 3px;
  width: 267px; */
  position: absolute;
  top: 295px;
  left: 949px;
  margin: 0px;
}

.cartdeactivestate {
  position: absolute;
  top: 280px;
  left: 1215px;
  margin: 0px;
  padding: 0px;
}
.cartpaymenttext {
  height: 17px;
  width: 50px;
  color: #6f6e6e;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 320px;
  left: 1205px;
  margin: 0px;
  padding: 0px;
}
