.searchBox {
  height: 70px;
  width: 611px;
}
.searchInput {
  height: 70px;
  width: 611px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  outline: none;
  border: none;
  padding-left: 61px;
  cursor: pointer;
}
.searchInput::placeholder {
  padding-left: -10px;
  height: 22px;
  width: 296px;
  color: #bdbdbd;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: -0.27px;
  line-height: 22px;
}
.searchIcon {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 25px;
  top: 25px;
  cursor: pointer;
}
.clearButton {
  height: 12px;
  width: 12px;
  position: absolute;
  left: 576px;
  top: 29px;
  cursor: pointer;
}
.locationSetter {
  width: 310px;
  height: 70px;
}
.locationInput {
  height: 70px;
  width: 310px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: none;
  padding-left: 61px;
  outline: none;
  cursor: pointer;
}
.location {
  height: 18px;
  width: 12px;
  position: absolute;
  left: 20px;
  top: 25px;
  cursor: pointer;
}
.gpsTracker {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 24px;
  left: 340px;
  cursor: pointer;
}
.dateTime {
  height: 70px;
  width: 247px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.dateText {
  height: 17px;
  width: 150px;
  color: #4c4c4c;
  font-family: '.SF NS Text';
  font-size: 14px;
  letter-spacing: -0.24px;
  line-height: 17px;
  position: absolute;
  left: 23px;
  top: 30px;
}
.dateButton {
  position: absolute;
  left: 180px;
  top: 5px;
}

/*Search bar placements other then home page */
.restaurantSearchBox {
  height: 50px;
  width: 570px;
  position: relative;
  left: 275px;
  top: 9px;
}
.restaurantSearchInput {
  height: 50px;
  width: 570px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  outline: none;
  border: none;
  padding-left: 15px;
  cursor: pointer;
}
.restaurantLocationSetter {
  height: 50px;
  width: 283px;
  position: relative;
  top: -40px;
  left: 00px;
}
.restaurantLocationInput {
  height: 50px;
  width: 220px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
  outline: none;
  border: none;
  padding-left: 34px;
  cursor: pointer;
}
.restaurantSearchIcon {
  height: 20px;
  width: 20px;
  opacity: 0.6;
  position: absolute;
  top: 16px;
  left: 550px;
}
.restaurantclearButton {
  display: none;
}
.retsurantLocation {
  height: 12px;
  width: 8px;
  position: absolute;
  left: 15px;
  top: 20px;
}
.retsurantGpsTracker {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 225px;
  top: 16px;
}

@media only screen and (max-width: 670px) {
  .searchInput {
    height: 50px;
    width: 370px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    outline: none;
    border: none;
    padding-left: 61px;
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    left: -80px;
    top: -30px;
  }
  .searchIcon {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -60px;
    top: -15px;
    cursor: pointer;
  }
  .clearButton {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 320px;
    top: -9px;
    cursor: pointer;
  }
  .locationInput {
    height: 50px;
    width: 370px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: none;
    padding-left: 61px;
    outline: none;
    cursor: pointer;
    position: relative;
    left: -80px;
    top: -60px;
  }
  .location {
    height: 18px;
    width: 12px;
    position: absolute;
    left: -55px;
    top: -4.8vh;
    cursor: pointer;
  }
  .gpsTracker {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 314px;
    top: -4.8vh;
    cursor: pointer;
  }
  .dateTime {
    height: 50px;
    width: 430px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: -480px;
    top: 30px;
  }
  .dateText {
    height: 17px;
    width: 150px;
    position: relative;
    left: 25px;
    top: 18px;
  }
  .dateButton {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 6px;
    left: 380px;
  }
}
@media only screen and (max-width: 550px) {
  .searchBox {
    width: 200px;
  }
  .searchInput {
    height: 50px;
    width: 360px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    outline: none;
    border: none;
    padding-left: 61px;
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    left: -80px;
    top: -30px;
  }
  .searchIcon {
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -50px;
    top: -15px;
    cursor: pointer;
  }
  .clearButton {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 310px;
    top: -10px;
    cursor: pointer;
  }
  .locationSetter {
    width: 300px;
    height: 70px;
  }
  .locationInput {
    height: 50px;
    width: 360px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: none;
    padding-left: 61px;
    outline: none;
    cursor: pointer;
    position: relative;
    left: -80px;
    top: -60px;
  }
  .location {
    height: 18px;
    width: 12px;
    position: absolute;
    left: -50px;
    top: -35px;
    cursor: pointer;
  }
  .gpsTracker {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -43px;
    left: 300px;
    cursor: pointer;
  }
  .dateTime {
    height: 50px;
    width: 415px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: -480px;
    top: 30px;
  }
  .dateText {
    height: 17px;
    width: 150px;
    position: relative;
    left: 30px;
    top: 18px;
  }
  .dateButton {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 6px;
    left: 370px;
  }
  .restaurantSearchBox {
    height: 40px;
    width: 200px;
  }
  .restaurantSearchInput {
    height: 40px;
    width: 300px;
    position: relative;
    left: -280px;
    top: -7px;
  }
  .restaurantSearchIcon {
    height: 20px;
    width: 20px;
    opacity: 0.6;
    position: absolute;
    top: 5px;
    left: 00px;
  }
  .restaurantLocationSetter {
    height: 40px;
    width: 283px;
    position: relative;
    top: 5px;
    left: -30px;
  }
  .restaurantLocationInput {
    height: 40px;
    width: 270px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.07);
    outline: none;
    border: none;
    padding-left: 10px;
    cursor: pointer;
  }
  .retsurantLocation {
    display: none;
  }
  .retsurantGpsTracker {
    height: 20px;
    width: 20px;
    position: absolute;
    left: 250px;
    top: 10px;
  }
}
@media all and (max-width: 440px) {
  .searchInput {
    height: 50px;
    width: 265px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    outline: none;
    border: none;
    padding-left: 61px;
    cursor: pointer;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: -30px;
  }
  .searchIcon {
    position: relative;
    left: -13px;
    top: -7.4vh;
  }
  .locationInput {
    height: 50px;
    width: 265px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border: none;
    padding-left: 61px;
    outline: none;
    cursor: pointer;
    position: relative;
    left: -30px;
  }
  .gpsTracker {
    position: relative;
    left: 250px;
    top: -10.9vh;
  }
  .location {
    position: relative;
    left: -10px;
    top: -10.9vh;
  }
  .dateTime {
    width: 320px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .dateButton {
    position: relative;
    left: 275px;
    top: -10px;
  }
  .dateTimePositioning {
    width: 430px;
    margin-left: auto;
    margin-right: auto;
  }
  .clearButton {
    height: 12px;
    width: 12px;
    position: absolute;
    left: 265px;
    top: -9px;
    cursor: pointer;
  }
}
