.modalbgs {
  position: absolute;
  height: 1211px;
  width: 501px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  left: 647px;
  top: 360px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.statusorderdetails {
  height: 33px;
  width: 150px;
  color: #4c4c4c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.34px;
  line-height: 33px;
  position: absolute;
  top: 43px;
  left: 176px;
  margin: 0px;
}

.closinbutton {
  position: absolute;
  left: 470px;
  top: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  height: 12px;
  width: 12px;
  color: #4c4c4c;
}

/* .modalbackground {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.statusitems {
  height: 22px;
  width: 44px;
  color: #565454;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 100px;
  left: 32px;
  margin: 0px;
}

.statusitemsrectangle {
  box-sizing: border-box;
  height: 296px;
  width: 441px;
  border: 1px solid #979797;
  border-radius: 5px;
  position: absolute;
  top: 127px;
  left: 30px;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.statusmaount {
  height: 22px;
  width: 63px;
  color: #565454;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 447px;
  left: 32px;
  margin: 0px;
}

.statusamountrect {
  box-sizing: border-box;
  height: 206px;
  width: 441px;
  border: 1px solid #979797;
  /* opacity: 0.25; */
  border-radius: 5px;
  position: absolute;
  top: 479px;
  left: 31px;
}

.sadiv {
  height: 164px;
  width: 403px;
  /* background-color: chocolate; */
  position: absolute;
  top: 20px;
  left: 20px;
}

.spaidtext {
  height: 22px;
  width: 33px;
  color: black;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0px;
}

.spaidamount {
  height: 22px;
  width: 93px;
  color: black;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
}

.sitemstotaltext {
  height: 17px;
  width: 60px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 33px;
  left: 0px;
  margin: 0px;
}

.stotalamount {
  height: 17px;
  width: 61px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: right;
  position: absolute;
  top: 33px;
  right: 0px;
  margin: 0px;
}

.sfeetext {
  height: 17px;
  width: 71px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 62px;
  left: 0px;
  margin: 0px;
}

.sfeeamount {
  height: 27px;
  width: 74px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: right;
  position: absolute;
  top: 57px;
  right: 0px;
  margin: 0px;
}

.sdiscounttext {
  height: 17px;
  width: 50px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  top: 90px;
  left: 0px;
  margin: 0px;
}

.sdiscountamount {
  height: 17px;
  width: 74px;
  color: black;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: right;
  position: absolute;
  top: 90px;
  right: 0px;
  margin: 0px;
}

.spaymentmethod {
  height: 22px;
  width: 138px;
  color: #223136;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.scredittext {
  height: 22px;
  width: 141px;
  color: #223136;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0px;
}

.statussubmit {
  height: 50px;
  width: 217px;
  border-radius: 4px;
  background: linear-gradient(138.33deg, #f3698e 0%, #feb456 100%);
  box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  position: absolute;
  top: 1131px;
  left: 142px;
}

.statussubtext {
  height: 19px;
  width: 54px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 82px;
  margin: 0px;
}

.statusdeldeatils {
  height: 22px;
  width: 121px;
  color: #565454;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 709px;
  left: 32px;
  margin: 0px;
}

.statusdelrct {
  box-sizing: border-box;
  height: 157px;
  width: 441px;
  border: 1px solid #979797;
  /* opacity: 0.25; */
  border-radius: 5px;
  position: absolute;
  top: 741px;
  left: 33px;
  margin: 0px;
}

.statusratingrect {
  height: 285px;
  width: 501px;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 926px;
  left: 0px;
}

.ratedeliverytext {
  height: 22px;
  width: 138px;
  color: #565454;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.24px;
  line-height: 22px;
  position: absolute;
  top: 940px;
  left: 33px;
}

.writeareview {
  height: 67px;
  width: 432px;
  position: absolute;
  top: 1024px;
  left: 32px;
}

.reviewtext {
  height: 17px;
  width: 86px;
  color: #858585;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: 17px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
}

.statusreview {
  position: absolute;
  top: 28px;
  height: 22px;
  width: 405px;
  color: #4a4a4a;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: -0.27px;
  line-height: 22px;
  overflow: visible;
  border: none;
  outline: none;
}

.statuslastline {
  box-sizing: border-box;
  height: 2px;
  width: 432px;
  border: 1px solid #a4a4a4;
  opacity: 0.53;
  position: absolute;
  /* left: 32px; */
  bottom: 0px;
}

input::placeholder {
  overflow: visible;
}

.stars5 {
  position: absolute;

  top: 1.5px;
  left: 8px;
  color: #c2c2c2;
  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}

.rectstar5 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 252px;
  cursor: pointer;
}

.startext5 {
  height: 17px;
  width: 10.04px;
  color: #c2c2c2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;

  margin: 0px;
}

.rectstar1 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 31px;
  cursor: pointer;
}
.stars1 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #c2c2c2;
  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}

.startext1 {
  height: 17px;
  width: 10.04px;
  color: #c2c2c2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;

  margin: 0px;
}

.rectstar2 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 85.13px;
  cursor: pointer;
}
.stars2 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #c2c2c2;
  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.startext2 {
  height: 17px;
  width: 10.04px;
  color: #c2c2c2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.rectstar3 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 140.26px;
  cursor: pointer;
}
.stars3 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #c2c2c2;
  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.startext3 {
  height: 17px;
  width: 10.04px;
  color: #c2c2c2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.rectstar4 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 195.39px;
  cursor: pointer;
}
.stars4 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #c2c2c2;
  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.startext4 {
  height: 17px;
  width: 10.04px;
  color: #c2c2c2;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.grectstar1 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #5fb700;
  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 31px;
  cursor: pointer;
}
.gstars1 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #5fb700;
  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.gstartext1 {
  height: 17px;
  width: 10.04px;
  color: #5fb700;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.grectstar2 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #5fb700;

  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 85.13px;
  cursor: pointer;
}
.gstars2 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #5fb700;

  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.gstartext2 {
  height: 17px;
  width: 10.04px;
  color: #5fb700;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.grectstar3 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #5fb700;

  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 140.26px;
  cursor: pointer;
}
.gstars3 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #5fb700;

  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.gstartext3 {
  height: 17px;
  width: 10.04px;
  color: #5fb700;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.grectstar4 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #5fb700;

  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 195.39px;
  cursor: pointer;
}
.gstars4 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #5fb700;

  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.gstartext4 {
  height: 17px;
  width: 10.04px;
  color: #5fb700;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}

.grectstar5 {
  box-sizing: border-box;
  height: 21px;
  width: 46px;
  border: 1px solid #5fb700;

  border-radius: 4px;
  position: absolute;
  top: 984px;
  left: 252px;
  cursor: pointer;
}
.gstars5 {
  position: absolute;
  top: 1.5px;
  left: 8px;
  color: #5fb700;

  font-size: 20px;
  height: 10.43px;
  width: 12.91px;
  margin: 0px;
}
.gstartext5 {
  height: 17px;
  width: 10.04px;
  color: #5fb700;

  font-family: "Open Sans";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  position: absolute;
  left: 27px;
  top: 2px;
  margin: 0px;
}
.mdelgreyline {
  box-sizing: border-box;
  height: 3px;
  width: 410px;
  border: 1px solid #ededed;
  position: absolute;
  left: 10px;
  top: 75px;
  background-color: lightsteelblue;
  margin: 0px;
}

.modaldelivery {
  position: absolute;

  height: 160px;
  width: 430px;
  left: 2px;
  top: 2px;
}
.mdeliverylocation {
  height: 17px;
  width: 153.81px;
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: 17px;
  position: absolute;
  top: 20px;
  left: 10px;
  margin: 0px;
}
.mdeliveryaddress {
  height: 19px;
  width: 383.66px;
  color: #2d2d2d;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: -0.24px;
  line-height: 19px;
  position: absolute;
  top: 40px;
  left: 10px;
  margin: 0px;
}
.mdelgreyline {
  box-sizing: border-box;
  height: 3px;
  width: 410px;
  border: 1px solid #ededed;
  position: absolute;
  left: 10px;
  top: 75px;
  background-color: lightsteelblue;
  margin: 0px;
}
.mdatetimetext {
  height: 17px;
  width: 115.79px;
  color: #6a6a6a;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: -0.24px;
  line-height: 17px;
  position: absolute;
  top: 95px;
  left: 10px;
  margin: 0px;
}
.mdatetime {
  height: 19px;
  width: 200.47px;
  color: #2d2d2d;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: -0.24px;
  line-height: 19px;
  position: absolute;
  top: 100px;
  left: 10px;
}
@media all and (max-width: 1450px) {
  .modalbgs {
    left: 345px;
    width: 500px;
  }
}
@media all and (max-width: 1060px) {
  .modalbgs {
    left: 300px;
  }
}

@media all and (max-width: 850px) {
  .modalbgs {
    left: 100px;
  }
}
@media all and (max-width: 400px) {
  .modalbgs {
    left: 45px;
    width: 300px;
  }
  .statusitemsrectangle {
    width: 260px;
    left: 20px;
  }
  .orderDetailsTotalCost {
    left: 165px;
  }
  /* .incdeccount {
    left: 165px;
  } */
  /* .remove {
    left: 165px;
  } */
  .spaidamount {
    left: 140px;
  }
  .sfeeamount,
  .sdiscountamount {
    left: 150px;
  }
  .stotalamount {
    left: 163px;
  }
  .spaymentmethod {
    top: 120px;
    left: 50px;
  }
  .scredittext {
    left: 40px;
  }
  .statusamountrect {
    width: 260px;
    left: 20px;
  }
  .statusdelrct {
    left: 15px;
    width: 280px;
  }

  .statusratingrect {
    width: 290px;
  }
  .rectstar5 {
    left: 242px;
  }
  .statusreview {
    width: 250px;
  }
  .statuslastline {
    width: 250px;
  }
  .statussubmit {
    left: 100px;
    width: 100px;
  }
  .statussubtext {
    left: 19px;
    font-size: 16px;
  }
  .statusorderdetails {
    left: 20px;
    font-size: 17px;
  }
  .closinbutton {
    left: 250px;
  }
  .payoitemsorderdfrom {
    width: 300px;
  }
  .cartcomp {
    width: 100%;
    height: 100%;
  }
  .modaldelivery {
    width: 270px;
  }
  .mdelgreyline {
    width: 250px;
  }
}

@media all and (max-width: 550px) {
  .item {
    width: 200px;
  }
  .itemname {
    width: 200px;
  }
  .orderitems {
    width: 300px;
  }
  .remove {
    width: 30px;
  }
  .addons {
    width: 300px;
  }
  .cookinginsdiv {
    width: 300px;
  }
  .choseaddbtn {
    width: 100px;
  }
  .modalbgs {
    left: 115px;
    width: 300px;
  }
  .statusitemsrectangle {
    width: 260px;
    left: 20px;
  }
  .orderDetailsTotalCost {
    left: 165px;
  }
  /* .incdeccount {
    left: 165px;
  } */
  /* .remove {
    left: 165px;
  } */
  .spaidamount {
    left: 140px;
  }
  .sfeeamount,
  .sdiscountamount {
    left: 150px;
  }
  .stotalamount {
    left: 163px;
  }
  .spaymentmethod {
    top: 120px;
    left: 50px;
  }
  .scredittext {
    left: 40px;
  }
  .statusamountrect {
    width: 260px;
    left: 20px;
  }
  .statusdelrct {
    left: 15px;
    width: 280px;
  }

  .statusratingrect {
    width: 290px;
  }
  .rectstar5 {
    left: 242px;
  }
  .statusreview {
    width: 250px;
  }
  .statuslastline {
    width: 250px;
  }
  .statussubmit {
    left: 100px;
    width: 100px;
  }
  .statussubtext {
    left: 19px;
    font-size: 16px;
  }
  .statusorderdetails {
    left: 20px;
    font-size: 17px;
  }
  .closinbutton {
    left: 250px;
  }
  .payoitemsorderdfrom {
    width: 300px;
  }
  .cartcomp {
    width: 100%;
    height: 100%;
  }
  .modaldelivery {
    width: 270px;
  }
  .mdelgreyline {
    width: 250px;
  }
}
@media all and (max-width: 420px) {
  .modalbgs {
    left: 70px;
  }
}
