.layoutBg {
  position: absolute;
  height: 1250px;
  width: 100%;
  top: 236px;
  background-color: #f1f3fb;
}

.layoutRestaurentView {
  position: absolute;
  top: 0px;
  height: 203px;
  width: 100%;
}

.layoutFooter {
  position: relative;
  top: 1500px;
  margin-right: auto;
  margin-left: auto;
}
