.layoutBg {
  position: absolute;
  height: 1250px;
  width: 100%;
  top: 236px;
  background-color: #f1f3fb;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.layoutRestaurentView {
  position: absolute;
  top: 0px;
  height: 203px;
  width: 100%;
}

.layoutFooter {
  position: relative;
  top: 1500px;
  margin-right: auto;
  margin-left: auto;
}

@media all and (max-width: 1900px) {
  .layoutBg {
    position: absolute;
    height: 1270px;
    top: 236px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (max-width: 1680px) {
  .layoutBg {
    position: absolute;
    height: 1270px;

    top: 236px;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurantLocationInput {
    position: absolute;
    left: -150px;
  }
  .retsurantGpsTracker {
    position: absolute;
    left: 75px;
  }
  .retsurantLocation {
    position: absolute;
    left: -130px;
  }
  .crestaurantsInfo {
    position: relative;
    margin-left: -150px;
  }
  .restaurantSearchInput {
    position: relative;
    left: -145px;
  }
  .restaurantSearchIcon {
    position: relative;
    left: 400px;
    top: -32px;
  }
  .crestaurantDateTimeButton {
    position: relative;
    margin-left: -150px;
    margin-top: 3px;
  }
  .crestaurantLocatorInfo {
    position: relative;
    margin-left: -150px;
  }
}
@media all and (max-width: 1569px) {
  .layoutBg {
    position: absolute;
    height: 1270px;
    top: 236px;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurantLocationInput {
    position: absolute;
    left: -180px;
  }
  .retsurantGpsTracker {
    position: absolute;
    left: 45px;
  }
  .retsurantLocation {
    position: absolute;
    left: -160px;
  }
  /* .crestaurantsInfo {
    position: relative;
    margin-right: 200px;
  } */
  .crestaurantsInfo {
    position: relative;
    margin-left: -180px;
  }
  .restaurantSearchInput {
    position: relative;
    left: -175px;
  }
  .restaurantSearchIcon {
    position: relative;
    left: 360px;
    top: -32px;
  }
  .crestaurantDateTimeButton {
    position: relative;
    margin-left: -180px;
    margin-top: 3px;
  }
  .crestaurantLocatorInfo {
    position: relative;
    margin-left: -180px;
  }
  .addresscontainer {
    left: 450px;
  }
  .addressheading {
    left: 450px;
  }
  .addressprogressbar {
    position: relative;
    left: -200px;
  }
  .paymentcontainer {
    left: 450px;
  }
  .paymenttext {
    left: 450px;
  }
  .finalpaycontainer {
    left: 450px;
  }
  .paytext {
    left: 450px;
  }
  .finalPayprogressbar {
    position: absolute;
    left: -200px;
  }
}
/* .layoutRestaurentView {
    position: absolute;
  }

  .crestaurantLocators {
    position: relative;
  }
  .crestaurantsInfo {
    position: absolute;
    left: 250px;
  }
  .csearch {
    position: relative;
    left: 250px;
    top: 20px;
  }
  .clsetter {
    position: relative;
    left: 245px;
    top: 20px;
  }
  .crestaurantDateTimeButton {
    position: relative;
    left: 1140px;
    top: -78px;
  }

  .cartprogressbar {
    position: absolute;
    left: -45px;
  }
  .crestaurantLocatorInfo {
    position: absolute;
    left: 590px;
  }
  


  .mycarttext {
    left: 250px;
  }
  .cartdiv {
    left: 250px;
  }*/

/* @media all and (max-width: 1300px) {
  .layoutBg {
    position: absolute;
    height: 1270px;
    width: 1299px;
    top: 236px;
    margin-left: auto;
    margin-right: auto;
  }
  .layoutRestaurentView {
    position: absolute;
    width: 1200px;
  }

  .crestaurantLocators {
    position: relative;
    width: 1640px;
  }
  .restaurantLocationInput {
    position: relative;
    left: 00px;
  }
  .restaurantSearchInput {
    position: absolute;
    width: 370px;
    left: -150px;

    top: 5px;
    height: 40px;
  }
  .restaurantLocationInput {
    position: absolute;
    left: -200px;
  }
  .cartprogressbar {
    position: relative;
    left: -200px;
  }
} */

@media all and (max-width: 1238px) {
  .layoutBg {
    position: absolute;
    height: 1270px;

    top: 236px;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurantLocation {
    width: 0px;
  }
  .clsetter {
    width: 0px;
  }
  .csearch {
    width: 0px;
    left: 100px;
  }
  .restaurantSearchBox {
    width: 0px;
  }

  .restaurantLocationInput {
    position: absolute;
    left: -280px;
  }
  .retsurantGpsTracker {
    position: absolute;
    left: -55px;
  }
  .retsurantLocation {
    position: absolute;
    left: -270px;
  }
  .restaurantSearchInput {
    position: absolute;
    left: -280px;
    top: 1px;
  }
  .restaurantSearchIcon {
    position: absolute;
    left: 270px;
    top: 20px;
  }
  .crestaurantDateTimeButton {
    position: absolute;
    margin-left: -280px;
    margin-top: 5px;
  }
  .crestaurantLocatorInfo {
    position: relative;
    margin-left: -280px;
  }
  /* .cartprogressbar {
    position: relative;

    margin-left: 185px;
  } */
  .orderdisplay_rectangle {
    position: relative;

    margin-right: -200px;
    top: 312px;
  }
  .restaurentname {
    position: absolute;

    left: -200px;
    top: 240px;
  }
  .edtime {
    position: absolute;

    left: -200px;
    top: 275px;
  }
  .crestaurantsInfo {
    position: absolute;
    left: 118px;
  }
  .addresscontainer {
    left: 250px;
  }
  .addressprogressbar {
    left: -400px;
  }
  .addressheading {
    left: 250px;
  }
  .paymentcontainer {
    left: 250px;
  }
  .paymenttext {
    left: 250px;
  }
  .finalpaycontainer {
    left: 250px;
  }
  .paytext {
    left: 250px;
  }
  .finalPayprogressbar {
    left: -400px;
  }
  .mycarttext {
    left: 200px;
  }
  .cartdiv {
    left: 200px;
  }
  /* .statusbg {
    width: 1300px;
  } */
}
/* @media all and (max-width: 1140px) {
  .layoutBg {
    position: absolute;
    height: 1270px;
    width: 1140px;
    top: 236px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
  }
  .layoutRestaurentView {
    position: absolute;
    width: 1000px;
  }
  .csemiBg {
    position: relative;
    width: 1140px;
  }
  .crestaurantLocators {
    position: relative;
    width: 1482px;
  }
} */
@media all and (max-width: 1060px) {
  .layoutBg {
    position: absolute;
    height: 1270px;

    top: 236px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
  }

  .restaurantLocationInput {
    position: absolute;
    left: -270px;
    width: 100px;
    height: 40px;
    top: 5px;
  }
  .retsurantGpsTracker {
    position: absolute;
    left: -160px;
  }
  .retsurantLocation {
    position: absolute;
    left: -260px;
  }
  .restaurantSearchInput {
    position: absolute;
    width: 340px;
    left: -390px;
    top: 5px;
    height: 40px;
  }
  .restaurantSearchIcon {
    position: absolute;
    left: -70px;
    top: 15px;
  }
  .crestaurantDateTimeButton {
    position: relative;
    margin-left: -620px;
    height: 50px;
    margin-top: 8px;
  }
  .crestaurantsInfo {
    position: relative;
    margin-left: -270px;
  }
  .crestaurantLocators {
    width: 1348px;
  }
  .cartprogressbar {
    position: absolute;

    left: -355px;
  }
  .cartActive {
    width: 20px;
    position: absolute;
    top: 287px;
  }
  .cartpartialactiveline {
    width: 220px;
    left: 645px;
  }
  .Cdeactive2 {
    width: 20px;
    position: absolute;
    top: 287px;
    left: 865px;
  }
  .cartdeactiveline {
    width: 200px;
    left: 885px;
  }
  .cartdeactivestate {
    width: 20px;
    position: absolute;
    top: 287px;
    left: 1085px;
  }
  .progresscart {
    height: 12px;
    left: 623px;
  }
  .cartadresstext {
    height: 12px;
    left: 833px;
  }
  .cartpaymenttext {
    height: 12px;
    left: 1063px;
  }
  .restaurentname {
    position: relative;
    font-size: 20px;
    left: -30px;
    top: 160px;
  }
  .edtime {
    position: relative;
    left: -100px;
    top: 165px;
  }
  .orderdisplay_rectangle {
    top: 180px;
    left: -210px;
  }
  .crestaurantsInfo {
    position: absolute;
    left: 178px;
  }
  .crestaurantLocatorInfo {
    position: absolute;
    left: 520px;
  }
  .orderdisplay_rectangle {
    position: relative;
    left: -55px;
    width: 500px;
  }
  .dispitemsdiv {
    width: 500px;
  }
  .mention {
    width: 470px;
  }
  .mentiongreyline {
    width: 470px;
  }
  .backbutton {
    width: 80px;
    height: 30px;
    left: 270px;
  }
  .back {
    left: 20px;
    top: 5px;
  }
  .choseaddbtn {
    width: 120px;
    height: 30px;
    top: 20px;
    left: 365px;
    margin-bottom: 20px;
  }
  .chooseadd {
    font-size: 12px;
    left: 8px;
    top: 7px;
  }
  .itemname {
    font-size: 15px;
  }
  .itemtotalcost {
    left: 400px;
  }
  .incdeccount {
    left: 370px;
    height: 30px;
  }
  .remove {
    left: 410px;
  }
  .Cactive {
    height: 20px;
    top: 285px;
  }
  .cactiveline {
    width: 200px;
    left: 670px;
  }
  .Cactive2 {
    height: 20px;
    top: 285px;
    left: 870px;
  }
  .cpartialactiveline {
    width: 200px;
    left: 890px;
  }
  .deactivestate {
    height: 20px;
    left: 1090px;
    top: 285px;
  }
  .cadresstext {
    left: 840px;
  }
  .acart {
    left: 648px;
  }
  .cpaymenttext {
    left: 1070px;
  }
  .addresscontainer {
    width: 480px;
  }
  .addnewbtn {
    left: 350px;
  }
  .addnewtext {
    left: 355px;
  }
  .address_container {
    width: 470px;
  }
  .mntn {
    width: 450px;
  }
  .mentiongreyline1 {
    width: 430px;
  }
  .aBackbuttondiv {
    height: 30px;
    width: 80px;
    left: 240px;
  }
  .aBACKtext {
    left: 20px;
    top: 5px;
  }
  .aChoosepayment {
    width: 120px;
    height: 30px;
    left: 330px;
  }
  .aChoosepaymenttext {
    font-size: 12.5px;
    left: 6px;
    top: 5px;
  }
  .Pactive {
    height: 20px;
    top: -123px;
  }
  .pactiveline {
    width: 200px;
    left: 20px;
  }
  .Pactive2 {
    height: 20px;
    left: 220px;
    top: -123px;
  }
  .pactiveline2 {
    width: 200px;
    left: 240px;
  }
  .pactivestate3 {
    height: 20px;
    top: -123px;
    left: 440px;
  }
  .pcart {
    left: -3px;
  }
  .padresstext {
    left: 190px;
  }
  .Ppaymenttext {
    left: 420px;
  }
  .paymentcontainer {
    width: 465px;
  }
  .earnedpointsdiv {
    width: 430px;
  }
  .credits {
    font-size: 14px;
    left: 17px;
    top: 25px;
  }
  .verticalline {
    left: 110px;
  }
  .points {
    font-size: 17px;
    left: 130px;
  }
  .earnedcash {
    left: 125px;
  }
  .pcheckbox {
    left: 280px;
  }
  .redeem {
    left: 310px;
  }
  .paymentdeliverydetails {
    font-size: 15px;
  }
  .locationtimediv {
    width: 430px;
    left: -2px;
  }
  .payonegreyline {
    width: 390px;
    left: 18px;
  }
  .paydeliverylocation {
    left: 20px;
  }
  .paychange {
    left: 310px;
  }
  .paydateandtime {
    left: 20px;
  }
  .datetimedivchange {
    left: 310px;
  }
  .subdiv {
    width: 430px;
    left: -2px;
  }
  .subdivresname {
    top: 20px;
  }
  .subdivaddress {
    width: 250px;
  }
  .payitemsyouorderdfrom {
    font-size: 16px;
  }
  .entercarddetailstext {
    font-size: 16px;
    top: 7px;
  }
  .imgpayback {
    height: 35px;
  }
  .paybackbutton {
    height: 35px;
    width: 100px;
    left: 230px;
    top: 993px;
  }
  .imgpaynow {
    height: 60px;
  }
  .paynowbutton {
    left: 335px;
  }
  .finalpaycontainer {
    width: 465px;
  }
  .pay_container {
    width: 455px;
  }
  .payaddnew {
    left: 330px;
    height: 20px;
    width: 80px;
    top: 160px;
  }
  .payaddnewtext {
    font-size: 12px;
    top: 1px;
    left: -4px;
  }
  .Fpactive {
    height: 20px;
    top: 296px;
  }
  .fpactiveline {
    width: 200px;
    left: 670px;
  }
  .fpactive2 {
    height: 20px;
    top: 296px;
    left: 870px;
  }
  .fpactiveline2 {
    width: 200px;
    left: 890px;
  }
  .fpactivestate3 {
    height: 20px;
    top: 296px;
    left: 1090px;
  }
  .fcart {
    left: 647px;
  }
  .fpadresstext {
    left: 840px;
  }
  .Fpaymenttext {
    left: 1070px;
  }
  .imgfpayback {
    height: 34px;
  }
  .fpayback {
    left: 240px;
    top: 857px;
  }
  .imgfpaynow {
    height: 60px;
  }
  .fpaynow {
    left: 334px;
    top: 850px;
  }
  .mycards {
    font-size: 15px;
  }
  .mycarttext {
    font-size: 17px;
    left: 180px;
  }
  .cartdiv {
    left: 180px;
    width: 300px;
    height: 130px;
  }
  .cartremovebtn {
    left: 220px;
  }
  .cartresname {
    font-size: 13px;
  }
  .cartproceedbtn {
    height: 20px;
    width: 80px;
    top: 100px;
    left: 200px;
  }
  .cartproceedtext {
    font-size: 12px;
    left: 4px;
    top: 2px;
  }
  .address_card {
    width: 250px;
  }
  .addressline {
    width: 180px;
    font-size: 10px;
  }
  .addresscardcheckbtn {
    position: absolute;
    left: -35px;
    height: 15px;
  }
  .editbtn {
    font-size: 12px;
  }
  .deletebtn {
    font-size: 12px;
    left: 200px;
  }
  .addnewbtn {
    width: 80px;
    height: 20px;
    top: 200px;
  }
  .addnewtext {
    font-size: 12px;
    position: absolute;
    left: 347px;
    top: 200px;
  }
  .myaddtxt {
    font-size: 15px;
  }
  .contactdetails {
    font-size: 15px;
  }
  .csearch {
    width: 00px;
  }
  .restaurantLocation {
    width: 0px;
  }
  .clsetter {
    width: 0px;
  }
  .restaurantSearchBox {
    width: 0px;
  }
  .pay-card {
    width: 230px;
    height: 110px;
    top: 30px;
  }
  .vicon {
    height: 12px;
    width: 30px;
  }
  .vcardnums {
    top: 40px;
  }
  .vcardname {
    top: 65px;
  }
  .vexpdate {
    top: 65px;
  }
  .ventercode {
    top: 82px;
  }
  .vcardline {
    top: 102px;
  }
  .statusbg {
    width: 1060px;
  }
  .statuscontainer {
    width: 700px;
    height: 500px;
    left: 150px;
  }
  .orderid {
    font-size: 18px;
    font-weight: bold;
    left: 155px;
  }
  .orderplacedimg {
    width: 700px;
    height: 270px;
  }
  .greenicon1 {
    height: 20px;
    width: 20px;
    left: 70px;
    top: 328px;
  }
  .greenicon2 {
    height: 20px;
    width: 20px;
    left: 70px;
    top: 328px;
  }
  .greenicon3 {
    height: 20px;
    width: 20px;
    left: 70px;
    top: 328px;
  }
  .greenicon4 {
    height: 20px;
    width: 20px;
    left: 241px;
    top: 328px;
  }
  .greyicon {
    height: 20px;
    width: 20px;
    left: 241px;
    top: 328px;
  }
  .greyicon2 {
    height: 20px;
    width: 20px;
    left: 410px;
    top: 328px;
  }
  .yellowicon {
    height: 20px;
    width: 20px;
    left: 241px;
    top: 328px;
  }
  .yellowicon2 {
    height: 20px;
    width: 20px;
    left: 410px;
    top: 328px;
  }
  .yellowicon6 {
    height: 20px;
    width: 20px;
    left: 410px;
    top: 328px;
  }
  .greyicon3 {
    height: 20px;
    width: 20px;
    left: 580px;
    top: 328px;
  }
  .greenicondel {
    height: 20px;
    width: 20px;
    left: 580px;
    top: 328px;
  }
  .greeniconbeforedel {
    height: 20px;
    width: 20px;
    left: 410px;
    top: 328px;
  }
  .trackline1 {
    width: 150px;
    left: 90px;
    top: 337px;
  }
  .trackline2 {
    width: 150px;
    left: 260px;
    top: 337px;
  }
  .trackline3 {
    width: 150px;
    left: 430px;
    top: 337px;
  }
  .oispalcedtext {
    font-size: 12.5px;
    left: 2px;
    top: 355px;
  }
  .owaitingtext {
    font-size: 12.5px;
    left: 2px;
    top: 355px;
  }
  .oaccepttext {
    font-size: 12.5px;
    left: 2px;
    top: 355px;
  }
  .inkitchenbefore {
    font-size: 12.5px;
    left: 200px;
    top: 355px;
  }
  .inkitchenafter {
    font-size: 12.5px;
    left: 200px;
    top: 355px;
  }
  .oaccepttextbefore {
    font-size: 12.5px;
    left: 350px;
    top: 355px;
  }
  .oaccepttextafter {
    font-size: 12.5px;
    left: 350px;
    top: 355px;
  }
  .outfordeliverytext {
    font-size: 12.5px;
    left: 350px;
    top: 355px;
  }
  .deliveredicontext {
    font-size: 12.5px;
    left: 530px;
    top: 355px;
  }
  .owaitingfordelafter {
    font-size: 12.5px;
    left: 530px;
    top: 355px;
  }
  .owaitingfordelbefore {
    font-size: 12.5px;
    left: 530px;
    top: 355px;
  }
  .datetime {
    font-size: 11.5px;
    left: 20px;
    top: 375px;
  }
  .datetime2 {
    font-size: 11.5px;
    left: 175px;
    top: 375px;
  }
  .datetime3 {
    font-size: 11.5px;
    left: 340px;
    top: 375px;
  }
  .datetime4 {
    font-size: 11.5px;
    left: 518px;
    top: 375px;
  }
  .cancelordertext {
    font-size: 12.5px;
    left: 43px;
    top: 365px;
  }
  .sbacktoorders {
    width: 100px;
    top: 450px;
  }
  .btext {
    font-size: 10.5px;
    left: -7px;
  }
  .chatbtn {
    width: 80px;
    top: 450px;
    left: 480px;
  }
  .chattxt {
    font-size: 11.5px;
    left: 10px;
  }
  .orderdlts {
    width: 90px;
    top: 450px;
    left: 580px;
  }
  .ordrdlts {
    font-size: 10.5px;
    left: -9px;
  }
  .statusgreyline {
    width: 700px;
    top: 440px;
  }
  .ratings {
    font-size: 12px;
    top: 405px;
    left: 520px;
  }
  .ohasdeltext {
    font-size: 18px;
    top: 200px;
    left: 220px;
  }
}

@media all and (max-width: 550px) {
  .layoutFooter {
    display: none;
  }
}
/* @media all and (max-width: 508px) {
  .restaurantLocationInput {
    position: relative;
    left: -420px;
    top: -40px;
    height: 30px;
  }
  .crestaurantsInfo {
    position: relative;
    margin-left: -450px;
  }
  .retsurantGpsTracker {
    left: -335px;
    top: -33px;
  }
  .restaurantSearchInput {
    top: 40px;
    left: -695px;
    height: 30px;
  }
  .restaurantSearchIcon {
    position: relative;
    left: -370px;
    top: 45px;
  }
  .crestaurantDateTimeButton {
    margin-left: -950px;
    margin-top: 38px;
    height: 40px;
  }
  .crestaurantLocatorInfo {
    margin-left: -450px;
  }
  .addressprogressbar {
    position: relative;
    left: -640px;
  }
  .addressheading {
    left: 10px;
  }
  .addresscontainer {
    left: 0px;
  }
  .paymentcontainer {
    left: 10px;
  }
  .paymenttext {
    left: 10px;
  }
  .finalpaycontainer {
    left: 10px;
  }
  .finalPayprogressbar {
    left: -630px;
  }
  .paytext {
    left: 10px;
  }
  .orderid {
    position: absolute;
    left: 100px;
  }
} */
@media all and (max-width: 400px) {
  .restaurantSearch {
    position: relative;
    width: 0px;
    left: 0px;
  }

  /* .csearch {
    margin-left: -500px;
  } */
  .crestaurantsInfo {
    margin-left: -450px;
    margin-top: -25px;
  }
  .restaurantLocationInput {
    left: -420px;
    top: -40px;
    height: 25px;
  }
  .retsurantLocation {
    position: absolute;
    left: -230px;
    top: 100px;
  }
  .retsurantGpsTracker {
    left: -335px;
    top: -35px;
    height: 15px;
  }
  /* .crestaurantsInfo {
    position: relative;
    margin-left: -400px;
    margin-top: -40px;
  } */
  .restaurantLocationSetter {
    width: 0px;
  }
  .restaurantSearchInput {
    left: -695px;
    top: 35px;
    width: 280px;
    height: 30px;
    font-size: 5px;
  }
  .restaurantSearchIcon {
    left: -424px;
    top: 40px;
    width: 14px;
  }
  .crestaurantDateTimeButton {
    margin-left: -1000px;
    margin-top: 35px;
    height: 40px;
  }
  .crestaurantLocators {
    width: 300px;
    height: 100px;
  }
  .crestaurantLocatorInfo {
    margin-left: -455px;
    width: 80px;
  }
  .crestaurantLocators {
    width: 80px;
  }
  .cartprogressbar {
    left: -560px;
  }
  .cartActive {
    width: 15px;
    left: 610px;
  }
  .cartpartialactiveline {
    width: 120px;
    left: 625px;
    top: 292px;
  }
  /* .layoutBg {
    width: 393px;
    height: 2000px;
  } */
  .Cdeactive2 {
    top: 286px;
    left: 740px;
    width: 17px;
  }
  .cartdeactiveline {
    width: 120px;
    left: 756px;
    top: 292px;
  }
  .cartdeactivestate {
    top: 286px;
    left: 876px;
    width: 17px;
  }
  .progresscart {
    left: 608px;
    top: 310px;
  }
  .cartadresstext {
    left: 708px;
    top: 310px;
  }
  .cartpaymenttext {
    left: 858px;
    top: 310px;
  }
  .restaurentname {
    font-size: 16px;
    left: -430px;
  }
  .edtime {
    left: -430px;
  }
  .dispitemsdiv {
    left: 500px;
    width: 330px;
  }
  .orderdisplay_rectangle {
    left: 130px;
    width: 30px;
  }
  .incdeccount {
    left: 240px;
    width: 50px;
    height: 20px;
  }
  .number {
    left: 10px;
    top: -7px;
  }
  .decbutton {
    top: -3px;
  }
  .incbutton {
    left: 35px;
    top: 6px;
  }
  .itemtotalcost {
    left: 240px;
  }
  .remove {
    left: 245px;
  }
  .addons {
    font-size: 8px;
  }
  .itemname {
    font-size: 13px;
  }
  .mention {
    width: 300px;
  }
  .backbutton {
    left: 150px;
    width: 60px;
  }
  .back {
    font-size: 13px;
    left: 12px;
  }
  .choseaddbtn {
    left: 220px;
    width: 100px;
  }
  .chooseadd {
    font-size: 11px;
    left: 2px;
    top: 5px;
  }
  .mentiongreyline {
    width: 300px;
  }
  /* .addressProgressbar {
    position: absolute;
    left: 590px;
  } */
  .addressheading {
    left: 65px;
  }
  .Cactive {
    height: 17px;
    left: 470px;
    top: 296px;
  }
  .cactiveline {
    width: 110px;
    top: 302px;
    left: 485px;
  }
  .Cactive2 {
    height: 17px;
    left: 597px;
    top: 296px;
  }
  .cpartialactiveline {
    width: 110px;
    top: 302px;
    left: 613px;
  }
  .deactivestate {
    height: 17px;
    left: 723px;
    top: 296px;
  }
  .acart {
    left: 465px;
  }
  .cadresstext {
    left: 555px;
  }
  .cpaymenttext {
    left: 705px;
  }
  .addresscontainer {
    left: 65px;
    width: 300px;
  }
  .preference {
    font-size: 13px;
    position: absolute;
    left: -17px;
  }
  .deliverdiv {
    width: 100px;
    height: 80px;
  }
  .scootericon {
    height: 40px;
    width: 75px;
  }
  .deliver {
    left: 05px;
  }
  .delivertometxt {
    font-size: 11px;
    left: 23px;
  }
  .delivertomebtn {
    height: 12px;
    left: 0px;
    top: 20px;
  }
  .pickupdiv {
    width: 100px;
    height: 80px;
    left: 150px;
    top: 0px;
  }
  .pickupicon {
    height: 40px;
    width: 75px;
  }
  .pickup {
    left: 5px;
    top: 16px;
  }
  .pickupbtn {
    height: 12px;
    left: 10px;
    top: 15px;
  }
  .pickuptext {
    font-size: 12px;
    left: 33px;
    top: -5px;
  }
  .myaddtxt {
    font-size: 13px;
    top: 180px;
  }
  .addnewbtn {
    width: 60px;
    left: 230px;
    top: 180px;
  }
  .addnewtext {
    left: 218px;
    font-size: 10px;
    top: 180px;
  }
  .address_card {
    width: 200px;
  }
  .addresscardcheckbtn {
    position: relative;
    left: -80px;
  }
  .addresscardcheckicn {
    left: -78px;
  }
  .editbtn {
    left: 110px;
    font-size: 11px;
  }
  .deletebtn {
    left: 140px;
    font-size: 11px;
  }
  .address_container {
    width: 210px;
  }
  .contactdetails {
    font-size: 13.5px;
  }
  .personname {
    width: 260px;
  }
  .blackline {
    width: 260px;
  }
  .mntn {
    width: 270px;
  }
  .mentiongreyline1 {
    width: 270px;
  }

  .aBackbuttondiv {
    left: 110px;
    width: 60px;
  }
  .aBACKtext {
    left: 12px;
  }
  .aChoosepayment {
    width: 105px;
    left: 180px;
  }
  .aChoosepaymenttext {
    font-size: 11px;
  }
  .paymentcontainer {
    width: 300px;
    left: 60px;
  }
  .Pactive {
    height: 17px;
    top: -117px;
  }
  .pactiveline {
    width: 110px;
    left: 15px;
    top: -110px;
  }
  .Pactive2 {
    height: 17px;
    left: 125px;
    top: -117px;
  }
  .pactiveline2 {
    width: 110px;
    left: 142px;
    top: -111px;
  }
  .pactivestate3 {
    left: 250px;
    height: 17px;
    top: -117px;
  }
  .padresstext {
    left: 90px;
  }
  .Ppaymenttext {
    left: 230px;
  }
  .cashdiv {
    width: 100px;
  }
  .Cashtext {
    top: 45px;
    left: 40px;
  }
  .Cardtext {
    top: 45px;
    left: 12px;
    font-size: 13.5px;
  }
  .carddiv {
    width: 140px;
    left: 120px;
  }
  .entercarddetailstext {
    font-size: 14px;
  }
  .Visaicon {
    left: 210px;
  }
  .cardnumberline {
    width: 250px;
  }
  .namecardline {
    width: 250px;
  }
  .codeline {
    width: 100px;
    left: 150px;
  }
  .earnedpointsdiv {
    width: 260px;
  }
  .credits {
    font-size: 10px;
    left: 10px;
  }
  .verticalline {
    left: 70px;
  }
  .points {
    font-size: 12px;
    left: 82px;
  }
  .earnedcash {
    left: 80px;
  }
  .pcheckbox {
    left: 167px;
    height: 15px;
  }
  .redeem {
    font-size: 10px;
    left: 190px;
  }
  .locationtimediv {
    width: 270px;
    left: 2px;
    /* top: -180px; */
    height: 154px;
  }
  .payonegreyline {
    width: 240px;
  }
  .subdiv {
    width: 270px;
  }
  .paybackbutton {
    left: 120px;
    width: 80px;
  }
  .imgpayback {
    width: 80px;
  }
  .imgpaynow {
    width: 90px;
  }
  .paynowbutton {
    left: 200px;
  }
  .paychange {
    left: 150px;
    top: 38px;
  }
  .datetimedivchange {
    left: 150px;
    top: 38px;
  }
  .paymenttext {
    left: 65px;
  }
  .finalpaycontainer {
    left: 50px;
    width: 300px;
  }
  .Fpactive {
    height: 17px;
    left: 455px;
    top: 300px;
  }
  .fpactiveline {
    left: 472px;
    width: 110px;
  }
  .fcart {
    left: 452px;
  }
  .fpactive2 {
    left: 582px;
    height: 17px;
    top: 300px;
  }
  .fpactiveline2 {
    width: 110px;
    left: 599px;
  }
  .fpactivestate3 {
    height: 17px;
    left: 709px;
    top: 300px;
  }
  .Fpaymenttext {
    left: 690px;
  }
  .fpadresstext {
    left: 550px;
  }
  .paytext {
    left: 50px;
  }
  .fpayback {
    left: 120px;
  }
  .imgfpayback {
    width: 70px;
  }
  .fpaynow {
    left: 190px;
  }
  .imgfpaynow {
    width: 100px;
  }
  .mycarttext {
    left: 20px;
  }
  .cartdiv {
    left: 10px;
    top: 70px;
    margin-bottom: 10px;
  }
  .rec2 {
    position: relative;
    width: 300px;
    /* background-color: red; */
    /* height: 300px; */
    top: 100px;
    overflow-x: scroll;
    left: 20px;
    margin-bottom: 10px;
  }
  .payaddnew {
    left: 200px;
    width: 60px;
  }
  .payaddnewtext {
    left: -16px;
    font-size: 11px;
  }
  .pay_container {
    width: 300px;
  }
  .statusbg {
    width: 390px;
  }
  .imgcontainer {
    position: relative;
    left: 100px;
    width: 350px;
  }
  .orderplacedimg {
    position: relative;
    left: 100px;
    width: 350px;
  }
  .statuscontainer {
    position: relative;
    width: 350px;
    left: 10px;
  }
  .greenicon1,
  .greenicon2,
  .greenicon3,
  .greenicon4,
  .greeniconbeforedel,
  .greenicondel,
  .greyicon,
  .greyicon2,
  .greyicon3,
  .yellowicon,
  .yellowicon2,
  .yellowicon6,
  .trackline1,
  .trackline2,
  .trackline3 {
    display: none;
  }
  .oispalcedtext,
  .owaitingtext,
  .oaccepttext {
    top: 290px;
    left: -20px;
  }
  .cancelordertext,
  .datetime {
    top: 310px;
    left: 0px;
  }
  .inkitchenbefore,
  .inkitchenafter {
    top: 290px;
  }
  .datetime2 {
    top: 310px;
  }
  .oaccepttextbefore,
  .oaccepttextafter,
  .outfordeliverytext {
    left: 10px;
  }
  .datetime3 {
    left: 10px;
  }
  .owaitingfordelafter,
  .owaitingfordelbefore,
  .deliveredicontext {
    left: 200px;
  }
  .datetime4,
  .ratings {
    left: 180px;
  }
  .orderid {
    left: 80px;
  }
  .ohasdeltext {
    left: 60px;
  }
  .statusgreyline {
    width: 345px;
  }
  .sbacktoorders {
    left: 10px;
  }
  .chatbtn {
    left: 160px;
  }
  .orderdlts {
    left: 250px;
  }
  .outContainer {
    width: 390px;
  }
  .layoutRestaurentView {
    width: 300px;
  }
  .restaurantSearchBar {
    width: 300px;
  }
  .searchCard {
    width: 0px;
  }
  .restaurantSearch {
    width: 150px;
  }
  .crestaurantLocatorInfo {
    width: 300px;
  }
  .item {
    width: 200px;
  }
  .itemname {
    width: 200px;
  }
  .orderitems {
    width: 300px;
  }
  .remove {
    width: 30px;
  }
  .addons {
    width: 300px;
  }
  .cookinginsdiv {
    width: 300px;
  }
  .choseaddbtn {
    width: 100px;
  }
  .modalbgs {
    left: 45px;
    width: 300px;
  }
  .statusitemsrectangle {
    width: 260px;
    left: 20px;
  }
  .orderDetailsTotalCost {
    left: 165px;
  }
  /* .incdeccount {
    left: 165px;
  } */
  /* .remove {
    left: 165px;
  } */
  .spaidamount {
    left: 140px;
  }
  .sfeeamount,
  .sdiscountamount {
    left: 150px;
  }
  .stotalamount {
    left: 163px;
  }
  .spaymentmethod {
    top: 120px;
    left: 50px;
  }
  .scredittext {
    left: 40px;
  }
  .statusamountrect {
    width: 260px;
    left: 20px;
  }
  .statusdelrct {
    left: 15px;
    width: 280px;
  }

  .statusratingrect {
    width: 290px;
  }
  .rectstar5 {
    left: 242px;
  }
  .statusreview {
    width: 250px;
  }
  .statuslastline {
    width: 250px;
  }
  .statussubmit {
    left: 100px;
    width: 100px;
  }
  .statussubtext {
    left: 19px;
    font-size: 16px;
  }
  .statusorderdetails {
    left: 20px;
    font-size: 17px;
  }
  .closinbutton {
    left: 250px;
  }
  .payoitemsorderdfrom {
    width: 300px;
  }
  .cartcomp {
    width: 100%;
    height: 100%;
  }
  .modaldelivery {
    width: 270px;
  }
  .mdelgreyline {
    width: 250px;
  }
}
