.layoutBg {
  position: absolute;
  height: 1400px;
  width: 1920px;
  top: 236px;
  background-color: #f1f3fb;
}

.layoutRestaurentView {
  position: absolute;
  top: 0px;
  height: 203px;
  width: 1920px;
}

.layoutFooter {
  position: absolute;
  top: 1500px;
  height: 227px;
  width: 2023px;
  background-color: #ffffff;
}
