.header {
  height: 70px;
  width: 1700px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.semiBg {
  height: 130px;
  width: 100%;
}
.body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.bodySeperator {
  width: 961px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.restaurantSearchBar {
  height: 76px;
  width: 961px;
  position: relative;
  top: -115px;
}
.restaurantsInfo {
  width: 78px;
  color: #636364;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 17px;
}
.restaurantSearch {
  height: 50px;
  width: 605px;
}
.restaurantDateTimeButton {
  height: 50px;
  width: 50px;
  position: relative;
  left: 880px;
  top: -90px;
}
.restaurantLocators {
  position: relative;
  top: -83px;
  height: 44px;
  width: 100%;
  background-color: #c5cae238;
}
.restaurantLocatorInfo {
  height: 17px;
  width: 961px;
  color: #6f6f6f;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  word-spacing: 3px;
  position: relative;
  top: 00px;
}
.restaurantHalfBg {
  top: -80px;
  position: relative;
  background-color: #c5cae238;
  width: 100%;
  height: fit-content;
}
.restaurantDot1 {
  height: 4px;
  width: 4px;
  background-color: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -2px;
  left: 0px;
}
.resDeliveryTime {
  position: relative;
  left: 8px;
  top: -16px;
  height: 17px;
  width: fit-content;
  color: #757575;
  font-family: 'Open Sans';
  font-size: 12px;
  word-spacing: 0pt;
  line-height: 17px;
}
.restaurantDot2 {
  height: 4px;
  width: 4px;
  background-color: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -35px;
  left: 60px;
}
.restOpenedTill {
  position: relative;
  top: -50px;
  left: 70px;
  word-spacing: 0pt;
}
.restaurantDot3 {
  height: 4px;
  width: 4px;
  background-color: #a3a3a3;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -68px;
  left: 175px;
}
.resMealCost {
  position: relative;
  top: -83px;
  left: 185px;
  word-spacing: 0pt;
}
.heading {
  height: 34px;
  width: 961px;
  color: #636364;
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 34px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
}
.restaurantBody {
  height: 800px;
  width: 1150px;
  position: relative;
  top: 50px;
  left: -190px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between, 10px;
  padding-bottom: 100px;
}
.filterBox {
  height: 665px;
  width: 304px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 270px;
  max-height: 665px;
  overflow-y: scroll;
}
.filterCloseButton {
  width: 20px;
  height: 20px;
  position: relative;
  left: 535px;
  top: -110px;
}

.hideFilterCloseButton {
  display: none;
}
.filterHeading {
  height: 27px;
  width: 60px;
  color: #1b1c1d;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
  left: 21px;
  top: 14px;
}
.resetAll {
  height: 22px;
  width: 64px;
  color: #f57c00;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  text-align: right;
  position: relative;
  left: 220px;
  top: -7px;
  cursor: pointer;
}
.filterUnderLine {
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
}
.resBox {
  height: 166.79px;
  width: 627px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  left: 580px;
}
.resImage {
  height: 135.48px;
  width: 137.82px;
  border-radius: 4px;
  position: relative;
  left: 15px;
  top: -10px;
}
.resName {
  position: relative;
  top: 00px;
  left: 168px;
  top: 15px;
  height: 30px;
  width: 326px;
  color: #223136;
  font-family: 'Open Sans';
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 30px;
}
.resLocation {
  height: 17px;
  width: 175px;
  color: #858484;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -125px;
  left: 170px;
  text-transform: capitalize;
}
.resUnderline {
  box-sizing: border-box;
  height: 2px;
  width: 448.3px;
  border: 1px solid #979797;
  opacity: 0.1;
  position: relative;
  left: 170px;
  top: -115px;
}
.resItem {
  height: 17px;
  width: 134px;
  color: #9f9f9f;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -110px;
  left: 170px;
  text-transform: capitalize;
}
.resStatus {
  height: 17px;
  width: 62px;
  color: #5fb700;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -100px;
  left: 170px;
  text-transform: capitalize;
}
.resDetails {
  height: 17px;
  width: 313px;
  color: #757575;
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  position: relative;
  top: -90px;
  left: 170px;
  word-spacing: 5px;
}
.resRating {
  height: 27.25px;
  width: 43.6px;
  border-radius: 4px;
  background-color: #f5a623;
  position: relative;
  top: -230px;
  left: 570px;
}
.ratingInfo {
  height: 22px;
  width: 23px;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  position: relative;
  left: 10px;
  top: 2px;
}
.menuButton {
  height: 35.43px;
  width: 110.14px;
  border-radius: 17.71px;
  box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  position: relative;
  top: -155px;
  left: 500px;
  cursor: pointer;
}
.filterOption {
  position: relative;
  left: 338px;
  top: 30px;
  display: flex;
  flex-direction: row;
  width: 256px;
  margin-right: auto;
  margin-left: auto;
}
.listBy {
  height: 22px;
  width: 59px;
  color: #303134;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}
.listByOption {
  height: 22px;
  width: 19px;
  color: #fca100;
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  position: relative;
  left: 5px;
}
.resSortBy {
  position: relative;
  left: 30px;
}
.sortBy {
  height: 22px;
  width: 64px;
  color: #303134;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}
.sortByOption {
  height: 19px;
  width: 47px;
  color: #fca100;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: right;
  position: relative;
  left: 5px;
}
.downArrow {
  position: relative;
  left: 7px;
}
/* Filters Css */
.resFilterIcon {
  display: none;
}
.timeAndAverageMealCost {
  height: 19px;
  width: 260px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20px;
  left: 20px;
}
.timeInfo {
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}
.timeHideButton {
  height: 3px;
  width: 15px;
  opacity: 1;
  position: relative;
  left: 50px;
  top: 9px;
  cursor: pointer;
}
.timeShowButton {
  height: 15px;
  width: 15px;
  opacity: 1;
  position: relative;
  left: 50px;
  top: 3px;
  cursor: pointer;
}
.timeSortInfo {
  height: 430px;
  width: 303px;
  position: relative;
  top: 15px;
  transition-timing-function: ease;
  transition-delay: 10s;
}
.revTimeSortInfo {
  display: none;
}
.status1 {
  height: 47px;
  width: 130px;
  position: relative;
}
.statusLabel {
  height: 19px;
  width: 130px;
  color: #9e9999;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: -0.48px;
  line-height: 19px;
  position: relative;
  left: 21px;
  top: 26px;
  text-transform: capitalize;
}
.statusButtonImg {
  position: relative;
  top: 34px;
  left: 21px;
}
.statusButtonLabel {
  height: 19px;
  width: 70px;
  color: #f78713;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.24px;
  line-height: 19px;
  position: relative;
  top: 30px;
  left: 30px;
}
.timeSortUnderLine1 {
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
  position: relative;
  top: 40px;
}
.timeSortUnderLine2 {
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
  position: relative;
  top: 470px;
}
.deliveryTime {
  position: relative;
  top: 50px;
  left: 21px;
}
.deliverTimeLabel {
  height: 19px;
  width: 64px;
  color: #9e9999;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: -0.48px;
  line-height: 19px;
}
.deliveryTimeFilter {
  position: relative;
  top: 10px;
}
.timeRadioButtons {
  position: relative;
  display: row;
  flex-direction: column;
  justify-content: space-between;
}
.selected {
  height: 19px;
  width: 200px;
  color: #f78713;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.24px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.disSelected {
  height: 19px;
  width: 200px;
  color: #606060;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.24px;
  line-height: 19px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.averageMealCost {
  position: relative;
  top: 70px;
  left: 21px;
}
.averageMealCostLabel {
  height: 19px;
  width: 150px;
  color: #9e9999;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: -0.48px;
  line-height: 19px;
}
.avereageMealCostFiltter {
  position: relative;
  top: 10px;
}
.minimumOrder {
  position: relative;
  top: 90px;
  left: 21px;
}
.minimumOrderLabel {
  height: 19px;
  width: 97px;
  color: #9e9999;
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: -0.48px;
  line-height: 19px;
}
.minimumOrderFilter {
  position: relative;
  top: 10px;
}
.cuisines {
  position: relative;
  top: 50px;
  left: 20px;
}
.cuisinesLabel {
  height: 19px;
  width: 62px;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
}
.cuisinesShowButton {
  height: 15px;
  width: 15px;
  opacity: 1;
  position: relative;
  left: 245px;
  top: -14px;
  cursor: pointer;
}
.cuisinesHideButton {
  height: 3px;
  width: 15px;
  opacity: 1;
  position: relative;
  left: 245px;
  top: -20px;
  cursor: pointer;
}
.cuisinesSortUnderLine {
  box-sizing: border-box;
  height: 2px;
  width: 303px;
  border: 1px solid #e1e1e1;
  position: relative;
  top: 50px;
}
.cuisinesInfo {
  width: 303px;
  height: 40px;
}
.applyButtonBox {
  height: 45px;
  width: 265px;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  position: relative;
  left: 20px;
  top: 65px;
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  border-color: #ff5e00;
}
.applyButtonLabel {
  height: 19px;
  width: 79px;
  color: #ff5e00;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.18px;
  line-height: 19px;
  text-shadow: 0 4px 10px 0 rgba(246, 126, 126, 0.38);
  position: relative;
  top: 12px;
  left: 100px;
}

/*Restaurant Mobile Responsive*/
@media all and (max-width: 500px) {
  .semiBg {
    height: 130px;
    width: 100%;
    margin-top: 10%;
  }
  .body {
    width: 100%;
    position: relative;
    top: -12vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-top: 100px;
  }
  .bodySeperator {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurantSearchBar {
    height: 76px;
    width: 300px;
    position: relative;
  }
  .restaurantsInfo {
    width: 78px;
    color: #636364;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.2px;
    line-height: 17px;
    position: relative;
    top: -10px;
    left: -30px;
  }
  .restaurantSearch {
    height: 40px;
    width: 300px;
    position: relative;
    top: -5px;
    left: -25px;
  }
  .restaurantDateTimeButton {
    height: 50px;
    width: 50px;
    position: relative;
    top: -85px;
    left: 288px;
  }
  .restaurantLocators {
    width: 100%;
  }
  .restaurantLocatorInfo {
    height: 17px;
    width: 300px;
    color: #6f6f6f;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    word-spacing: 3px;
    position: relative;
    left: -20px;
  }
  .heading {
    height: 34px;
    width: 300px;
    color: #636364;
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 34px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    left: -20px;
  }
  .filterBox {
    display: none;
  }
  .mobileFilterBox {
    height: 590px;
    width: 304px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 260px;
    top: -80px;
    max-height: 665px;
    overflow-y: scroll;
    z-index: 1;
  }
  .filterOption {
    position: relative;
    left: -40px;
  }
  .resFilterIcon {
    display: block;
    position: relative;
    top: -25px;
    left: 205px;
    width: 30px;
    height: 30px;
  }
  .resBox {
    height: 166.79px;
    width: 340px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    left: 210px;
  }
  .resImage {
    height: 80.48px;
    width: 80.82px;
    border-radius: 4px;
    position: relative;
    left: 15px;
    top: -15px;
  }
  .resName {
    height: 30px;
    width: 250px;
    color: #223136;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    left: 110px;
  }
  .resLocation {
    height: 17px;
    width: 175px;
    color: #858484;
    font-family: 'Open Sans';
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px;
    position: relative;
    top: -70px;
    left: 110px;
    text-transform: capitalize;
  }
  .resUnderline {
    box-sizing: border-box;
    height: 2px;
    width: 230.3px;
    border: 1px solid #979797;
    opacity: 0.1;
    position: relative;
    left: 110px;
    top: -65px;
  }
  .resItem {
    position: relative;
    left: 110px;
    top: -55px;
  }
  .resStatus {
    position: relative;
    left: 20px;
    top: -25px;
  }
  .resDetails {
    position: relative;
    left: 20px;
    top: -65px;
  }
  .resRating {
    position: relative;
    left: 300px;
    top: -145px;
    width: 30px;
    height: 20px;
  }
  .ratingInfo {
    align-items: center;
    font-size: 13px;
    position: relative;
    left: 3px;
    top: -2px;
  }
  .menuButton {
    position: relative;
    left: 250px;
    top: -75px;
    height: 25.43px;
    width: 80.14px;
  }
  .restaurantBody {
    height: fit-content;
    padding-bottom: 200px;
  }
}
